.layouts {
  width: 80vw;
  min-height: 99vh;
  margin: 0 auto;
  display: flex;
}
.layouts{
  padding-top: 8px;
  opacity: .6;
}

.menu {
  width: 14vw;
  height: auto;
  background-color: #315481;
  background-image: linear-gradient(180deg, #315481, #918e82);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content {
  width: 66vw;
  height: auto;
  transition: all 0.2s ease-out;
  transform: translateZ(0);
  background-color: #d2edf4;
  opacity: .7;
}
@media screen and (max-width: 40rem) {
  .layouts {
    width: 100vw;
  }
  .content {
    width: 100vw;
  }
  .menu {
    width: 0vw;
    opacity: 0;
  }
}
